.btn {
	background-color: $orange;
	color: #fff;
	text-transform: uppercase;
	font-family: "OpenSans-Regular";
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	border-radius: 5px;

	&--slider {
		width: 24.6rem;
		font-size: 1.6rem;
		padding: 1.8rem 2rem;
	}

	&--section-slider {
		width: 19.3rem;
		font-size: 1.4rem;
		padding: 1rem 3rem;
	}
}

/* Menu button */
.btn_mnu {
	width: 50px;
	height: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
    position: relative;
    display: none;

    @include respond(tab-port) {
        display: flex;
    }
}
.btn_row {
	height: 2px;
	width: 60%;
	margin: 2px 0;
	background-color: $green;
	position: relative;
	transition: all .5s;
}
.btn_mnu.active .btn_row:first-child {
	transform: rotate(-135deg);
	top: 6px;
}
.btn_mnu.active .btn_row:last-child {
	transform: rotate(-225deg);
	top: -6px;
}
.btn_mnu.active .btn_row:nth-child(2) {
	opacity: 0;
}

.btn_mnu {
	transition: all .5s;
}