.slider {
    &__item {
        background-position: center top;
        background-size: cover;
        padding: 13rem 0 15rem 0;
        position: relative;
        z-index: -1;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 55.5rem;
    }

    &__heading {
        font-family: "Lemontuesday";
        color: $green;
        font-size: 11rem;
        line-height: .9;
        margin-bottom: 5.5rem;

        @include respond(phone) {
            font-size: 7rem;
            line-height: 1.2;
        }
    }

    &__text {
        font-family: "OpenSans-Italic";
        color: #fff;
        font-size: 2.6rem;
        line-height: 1;
        margin-bottom: 6rem;
    }

    &__tag {
        position: absolute;
        width: 14.1rem;
        height: 14.1rem;
        border-radius: 50%;
        color: #fff;
        font-family: "OpenSans-Bold";
        font-size: 2.8rem;
        text-transform: lowercase;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to right, #b71f24, #df2024);
        left: 50%;
        top: -2rem;

        @include respond(tab-port) {
            left: 65%;
            top: 7rem;
        }
    }
}

.slider.owl-carousel .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 46%;
    bottom: 7rem;

    @include respond(phone) {
        position: static;
        margin: 1.5rem 0;
    }
}

.slider.owl-carousel button.owl-dot {
    background: transparent;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #c2c2c2;
    border-radius: 50%;

    &:not(:last-child) {
        margin-right: 2rem;
    }
}

.slider.owl-carousel button.owl-dot.active {
    background-color: $green;

    &:focus {
        outline: none;
    }
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    display: none;
}